<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="style.css">
<style>
.top{
	margin-top:-42px;
	margin-left: -30px;
	width: 102%;
	height: 100px;
	background-color: #2c3e50;
	position: fixed;
}
h1{
	color:white;
	font-family: arial;
	text-align: center;
	padding-top: 20px;
}
.body{
	margin-left: -30px;
	background-color: #b6b6b8;
	width: 103%;
	height: 949px;
}
.body2{
	margin-left: -30px;
	background-color: #6c9fa3;
	width: 103%;
	height: 949px;
}
h2{
	font-family: arial;
	font-size: 50px;
	text-align: center;
	padding-top: 500px;
	color:white;
}
</style>
</head>
<body>
<div class="top">
	<h1>{% block title %}Hello {{name}} ! You are {{age}} years old {% endblock %}</h1>
</div>
<div class ="body">
<h2>{% block body %}
	{{name}}<br><br>
   {{expression}}
{% endblock %}
</h2>
</div>
<div class="body2">
</div>
</body>
</html>